@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<TempleScheduler.Models.Group>



<div class="text-center">
    <br /><br /><br /><br /><br />
    <h1>Appointment Application Received! </h1>

    <br /><br />
    <p>Here are the detailed info of your reserved visit:</p>

    <br />
    <p>We will display the lists using foreach loop</p>
    @foreach (TempleScheduler.Models.Group x in Model)
    {
        @x.GroupName
        @x.GroupSize
        @x.PhoneNum
        @x.EmailAddr
        @x.AvailableTime
    }


</div>
