@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @ViewBag
}

@model List<TempleScheduler.Models.Group>



<div class="text-center">
    <br /><br /><br /><br /><br />
    <h1>Appointment Application Received! </h1>

    <br /><br />
    <p>Here are the detailed info of your reserved visit:</p>

    <table class="table table-striped">
        <thead>
            <tr><th>Group</th><th>Size</th><th>Phone</th><th>Email</th><th>Time Slot</th></tr>
        </thead>
        <tbody>
            <!--This pulls in data from the database for the page selected-->
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.PhoneNum</td>
                <td>@x.EmailAddr</td>
                <td>@x.Timeslots</td>
            </tr>}
        </tbody>
    </table>

    <br />
    <p>We will display the lists using foreach loop</p>
    


</div>
